*{box-sizing: border-box;}
html, body{height: 100%;}
/*
font-family: 'Source Code Pro', monospace;
font-family: 'Share', cursive;
font-family: 'Coda', cursive;
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Share', cursive;
  font-size: 1.5rem;
  line-height: 1;
  background-color:rgba(240, 209, 151, 0.3);
  color: #e55006;
text-transform: uppercase;

}
#root{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.gameWrapper{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   height: 100%;
   text-align: center;
   /*background:
   radial-gradient(#efefef 15%, transparent 16%) 0 0,
   radial-gradient(#f2f2f2 15%, transparent 16%) 5px 5px,
   radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px;
   background-color:#fff;
   background-size:10px 10px;*/
   max-width: 600px;
}
a{color:currentColor; text-decoration: none;}
.btn{
   display: flex;
   margin: 5px auto;
   padding: 4px 10px 2px;
   line-height: 1;
   color: inherit;
   border:3px solid;
   font-weight: bold;
   font-size: inherit;
   text-transform: inherit;
   font-family: inherit;
   background: none;
   justify-content: space-around;
   align-items: center;
}
.btn:disabled{opacity:0.5}
.btn > small{font-size: 1rem; font-weight: normal;}
.help-btn{width: 35%; background: inherit; color: #83AF9B;}

h1{font-weight: normal;}
h1 > em{color: #83AF9B; font-size: 0.8em; display: inline-block; padding: 0 5px 0 0;}
.game-header, .game-footer{
   text-transform: uppercase;
   /*background: -webkit-linear-gradient(#dacb1e , #85D5E5);*/
   padding: 4px 0;
   margin: 0 1%;
   height: 15vh;

}
.game-header-content{
  display: flex;
  justify-content: space-between;
  padding: 2%;
  /*border-top:4px solid;
  border-bottom:4px solid;*/
}
.game-header-content > div{
  width:33%;
}
.lives{
  width: 40%;
  max-width: 100px;
}

.game-header strong, .game-header span{
  /*background: -webkit-linear-gradient(#eddb10 , #8dc9f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
.game-header span{
  /*background: -webkit-linear-gradient(#E8F230 , #85D5E5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
.score{text-align: left; display: block;}
.score-wrapper, .level-wrapper{display: block;}
.score-wrapper .abs,
.level-wrapper .abs,
.lives-wrapper .abs{width: 100%; height: 3rem; position: relative; margin-bottom: -0.5rem; overflow: hidden;}
.score-wrapper strong,
.level-wrapper strong{display: block; position: absolute; top:0; font-size: 3rem;}
.level-wrapper strong{left:50%; transform: translate(-50%, 0)}
.score-wrapper > span,
.level-wrapper > span,
.lives-wrapper > span{display: block; font-size: 1rem;}
.lives-wrapper strong{position: absolute; top:50%; right:0; transform: translateY(-50%);}
.score{text-align: left;}
.level{text-align: center;}
.lives{text-align: right; font-size: 1.2rem; line-height: 1;}


.game-area{
   overflow: hidden;
   z-index: 2;
}
.ui-wrapper{
   display: flex;
   min-height: 70vh;
   flex-direction: column;
   justify-content: space-around;
}
.word-wrapper{
   background: rgba(255,255,255,0.6);
   padding: 5% 5% 8%;
   width: 104%;
   height: 25vh;
   position: relative;
   left:-2%;
   box-shadow: 0px -2px 25px -10px currentColor inset;
   border-top: 2px solid #ddd;
   border-bottom: 2px solid #efefef;
}
.word-wrapper .anim-wrapper{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
}
.lettersToGuess{
   font-size: 0.75em;
   color: #999;
   text-align: center;
   margin-bottom: 2vh;
}
.letter{
   font-family: 'Source Code Pro', monospace;
   font-weight: 900;
   margin: 0 2px;
   border: 1px solid #ddd;
   border-radius: 15%;
   background: #fff;
   box-shadow: 1px 1px 3px #444;
   margin: 1%;
   line-height: 1.3em;
   text-align: center;
   color: #444;
}
.category{
   font-size: 0.8em;
   color: #999;
   margin-top: 4px;
   font-style: italic;
   text-transform: lowercase;
}
.keyboard{
   border-top:4px solid;
   border-bottom:4px solid;
}
.keyboard > button{
   font-family: 'Source Code Pro', monospace;
   color: currentColor;
   padding: 2vh 0;
   width: 20%;
   margin: 0;
   font-size: 6vw;
   border:0;
   background: none;
   transition: all 350ms ease;
}
.keyboard > button:disabled{
   border: none;
   background: transparent;
   transform: scale(0.9);
   opacity: 0.4;
}
.game-footer{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
/* notifications */
.notification-content{
   font-size: 20vw;
   font-weight: bold;
   position: absolute;
   text-align: center;
   left: 0;
   width: 100%;
   top:45%;
   text-shadow: 4px 2px 20px #fff;
}


/* score animation */
.score-enter{transition: all 300ms; transform: translateY(-100%);}
.score-enter-active{transform: translateY(0);}
.score-leave{transition: all 300ms;transform: translateY(0);}
.score-leave-active{transform: translateY(100%);}

/* level animation */
strong.level-enter{transition: all 500ms; left:50%; transform: translate(-50%, -100%);}
strong.level-enter-active{left:50%; transform: translate(-50%, 0);}
strong.level-leave{transition: all 500ms;left:50%; transform: translate(-50%, 0);}
strong.level-leave-active{left:50%; transform: translate(-50%, 100%);}

/* CUSTOM ZOOM ANIM */
@keyframes zoom{
   0%{opacity:0; -webkit-transform:scale(2); transform:scale(2)}
   50%{opacity:1; -webkit-transform:scale(.9); transform:scale(.9)}
}
.zoom{-webkit-animation-name:zoom; animation-name:zoom;}
.animated.zoom{-webkit-animation-duration:250ms; animation-duration:250ms;}

/* CUSTOM BUONCE ANIM */
@keyframes bounceInOut {
   0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3); z-index:2;}
   10%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1); z-index:2;}
   20%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9); z-index:2;}
   30%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03); z-index:2;}
   40%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97); z-index:2;}
   50%{opacity:1;-webkit-transform:scaleX(1);transform:scaleX(1); z-index:2;}
   70%{opacity:1;-webkit-transform:scaleX(1);transform:scaleX(1); z-index:2;}
   80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97); z-index:2;}
   90%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9); z-index:2;}
   100%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3); z-index:1;}
}

.bounceInOut {
   animation-duration: 1.5s;
   z-index: 1;
   opacity: 0;
   animation-fill-mode: both;
   animation-name: bounceInOut;
}
